.Homepage {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/images/bg-pic@2x.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Homepage img {
    width: 100px;
    position: absolute;
    top: 100px;
    left: 300px;
}

.Homepage div h2 {
    text-align: center;
    color: white;
    font-weight: 400;
}

.Homepage div h2:first-child {
    font-size: 45px;
    line-height: 45px;
}

.Homepage div h2:nth-child(2) {
    font-size: 85px;
    line-height: 75px;
}

.Homepage div h2:last-child {
    font-size: 30px;
    margin-top: 5px;
}